body{
    width: 700px;
    margin: 0 auto;
    background-color: #f5f6f7;
}
div{
    display: block;
}
.lang-select{
    display: flex;
}
.lang-option{
    width: 100px;
    height: 30px;
    font-size: 12px;
    margin-left: 600px;
    margin-top: 20px;
    border-color: #ccc;
    background-color: #f5f6f7;
}
.naverimg > img{
    display: flex;
    margin: auto;
    width: 250px;
    height: 125px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.login{
    display: block;
    justify-content: center;
}
.id2{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
.password{
    display: flex;
    justify-content: center;
}
input{
    width: 465px;
    height: 45px;
    border: solid 1px #dadada;
}
.loginbutton{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}.login1{
    width: 475px;
    height: 60px;
    color: white;
    background-color: #03c75a;
    border:solid 1px rgba(0,0,0,.1);
}
.CB{
    width: 900px;
    display: block;
    margin-top: 10px;
}
.inline{
    display: inline;
}
span{
    font-size: 17px;
    margin-right: 225px;
}
.check{
    width: 20px;
    height: 20px;
    margin-left: 112px;
}
.check2{
    width: 20px;
    height: 20px;
}
hr{
    width: 475px;
    border: solid 0.1px #dadada;
}
.easy{
    display: block;
    text-align: center;
    margin-top: 40px;
}
.easybutton2{
    width: 249px;
    height: 55px;
    font-size: 18px;
    background-color: white;
    border: solid 1px #03c75a;
}
.join{
    display: block;
}
p{
    text-align: center;
}
.explan{
    display: block;
    text-align: center;
}
.explanation{
    font-size: 13px;
    margin-top: 300px;
}